{% extends "base.html" %}
{% load static %}
{% block content %}

 <!-- About Start -->
 <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <img style="width: 77%; height: 66vh;border: 7px solid rgb(13, 104, 104);border-radius: 25px;" class="img-fluid mb-4 mb-lg-0" src="{% static 'img/photo.jpg' %}" alt="">
            </div>
            <div class="col-lg-6">
                <h1 class="display-4 text-uppercase mb-4">Mening jamoam</h1>
                <h5 class="text-uppercase text-primary mb-3">Biz jamoda 4 kishimiz.Biz 6 oydan beri birga o'qib kelamiz.Agar Muslim aka vazifa bersala birga bajaramiz. </p>
                <a href="" class="btn btn-primary text-uppercase py-3 px-5">Read More</a>
            </div>
        </div>
    </div>
</div>
    <!-- About End -->


    <!-- About Info Start -->
    <div class="container-fluid py-5">
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light rounded mb-4 px-5" style="height: 150px;">
                        <i class="fa fa-3x fa-map-marker-alt text-primary mr-3"></i>
                        <div class="d-flex flex-column">
                            <h5 class="text-uppercase">Manzil</h5>
                            <p class="m-0">Navoiy Yangi hayot ko'chasi 12-uy</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light rounded mb-4 px-5" style="height: 150px;">
                        <i class="fa fa-3x fa-envelope-open text-primary mr-3"></i>
                        <div class="d-flex flex-column">
                            <h5 class="text-uppercase">Email</h5>
                            <p class="m-0">shoyiqulovasilbek116@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light rounded mb-4 px-5" style="height: 150px;">
                        <i class="fas fa-3x fa-phone-alt text-primary mr-3"></i>
                        <div class="d-flex flex-column">
                            <h5 class="text-uppercase">Telefon nomer</h5>
                            <p class="m-0">+998977970802</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Info End -->


  
    {% endblock content %}