
{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img style="width: 77%; height: 66vh;border: 7px solid rgb(13, 104, 104);border-radius: 25px;" class="img-fluid mb-4 mb-lg-0" src="{% static 'img/photo.jpg' %}" alt="">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-4 text-uppercase mb-4">Mening jamoam</h1>
                    <h5 class="text-uppercase text-primary mb-3">Biz jamoda 4 kishimiz.Biz 6 oydan beri birga o'qib kelamiz.Agar Muslim aka vazifa bersala birga bajaramiz. </p>
                    <a href="" class="btn btn-primary text-uppercase py-3 px-5">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">BIZNING IJODIY XIZMATLARIMIZ</h1>
            <div class="row">
                <div class="col-lg-3 mb-2">
                    <div class="service-item rounded p-5 mb-4">
                        <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
                        <h4 class="text-uppercase mb-4">Html<span class="d-block text-body"></span></h4>
                        <img class="img-fluid w-100" src="{% static 'img/html.png' %}" alt="">
                        <p class="m-0"></p>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="service-item rounded p-5 mb-4">
                        <i class="fa fa-3x fa-code text-primary mb-4"></i>
                        <h4 class="text-uppercase mb-4">Css<span class="d-block text-body"></span></h4>
                        <img class="img-fluid w-100" src="{% static 'img/css.png' %}" alt="">
                        <p class="m-0"></p>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="service-item rounded p-5 mb-4">
                        <i class="fa fa-3x fa-envelope-open-text text-primary mb-4"></i>
                        <h4 class="text-uppercase mb-4">Python<span class="d-block text-body"></span></h4>
                        <img class="img-fluid w-100" src="{% static 'img/python.png' %}" alt="">
                        <p class="m-0"></p>
                    </div>
                </div>
                <div class="col-lg-3 mb-2">
                    <div class="service-item rounded p-5 mb-4">
                        <i class="fa fa-3x fa-edit text-primary mb-4"></i>
                        <h4 class="text-uppercase mb-4">Telegram bot<span class="d-block text-body"></span></h4>
                        <img class="img-fluid w-100" src="{% static 'img/telegram bot.png' %}" alt="">
                        <p class="m-0"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Portfolio Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Projects</h1>
            <div class="row">
                <div class="col-12 text-center mb-2">
                    <ul class="list-inline mb-4" id="portfolio-flters">
                        <li class="btn btn-outline-dark text-uppercase py-2 px-4 active" data-filter="*">
                            <i class="fa fa-star text-primary mr-2"></i>All
                        </li>
                        <li class="btn btn-outline-dark text-uppercase py-2 px-4" data-filter=".first">
                            <i class="fa fa-laptop-code text-primary mr-2"></i>Design
                        </li>
                        <li class="btn btn-outline-dark text-uppercase py-2 px-4" data-filter=".second">
                            <i class="fa fa-mobile-alt text-primary mr-2"></i>Development
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio-container">
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative rounded overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="{% static 'img/insta.jpg' %}" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                            <a href="{% static 'img/insta.jpg' %}" data-lightbox="portfolio">
                                <i class="fa fa-4x fa-plus text-primary"></i>
                                <h3>Youtube instagram tiktok bot</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative rounded overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="{% static 'img/translite.webp ' %}" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                            <a href="{% static 'img/translite.webp  ' %}" data-lightbox="portfolio">
                                <i class="fa fa-4x fa-plus text-primary"></i>
                                <h3>Translite bot</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative rounded overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="{% static 'img/obhavo.jpg' %}" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                            <a href="{% static 'img/obhavo.jpg' %}" data-lightbox="portfolio">
                                <i class="fa fa-4x fa-plus text-primary"></i>
                                <h3>Weather bot/h3>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative rounded overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="{% static 'img/valyuta.jpeg' %}" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                            <a href="{% static 'img/valyuta.jpeg' %}" data-lightbox="portfolio">
                                <i class="fa fa-4x fa-plus text-primary"></i>
                                <h3>Valyuta bot</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <div class="position-relative rounded overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="{% static 'img/kril.png' %}" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                            <a href="{% static 'img/kril.png' %}" data-lightbox="portfolio">
                                <i class="fa fa-4x fa-plus text-primary"></i>
                                <h3>Kril lotin bot</h3>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 portfolio-item second">
                    <div class="position-relative rounded overflow-hidden mb-2">
                        <img class="img-fluid w-100" src="{% static 'img/wikipedia.webp' %}" alt="">
                        <div class="portfolio-btn d-flex align-items-center justify-content-center">
                            <a href="{% static 'img/wikipedia.webp' %}" data-lightbox="portfolio">
                                <i class="fa fa-4x fa-plus text-primary"></i>
                                <h3>Wikipedia bot</h3>

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio End -->

    <section class="groups_layout_padding">
        <div class="container">
          <div class="heading_container">
            <h2>
                <h1 class="display-4 text-uppercase text-center mb-5">Mening jamoam</h1>
            </h2>
                <div class="img-box" style="margin-left: -200px; border:8px solid rgb(4, 95, 95); width: 365px;border-radius: 200px;background-color: rgb(224, 244, 244);">
                    <img class="img-fluid mb-4 mb-lg-0" style="width: 350px;height: 350px;border-radius: 1000px;" src="{% static 'img/boborahim.jpg' %}" alt="">
                </div> 
                <div class="social_box" style="border: 8px solid rgb(44, 120, 120);width: 350px;height: 70px;border-radius: 50px;margin-top:-8px;margin-left:-197px;">
                  <a href="">
                    <img style="width:20px;margin-top: 10px;margin-left: 60px; " src="{% static 'img/facebook-logo.png' %}" alt="">
                  </a>
                  <a href="">
                    <img  style="width:35px;margin-top: 10px;margin-left: 50px;"  src="{% static 'img/twitter.png' %}" alt="">
                  </a>
                  <a href="">
                    <img  style="width:33px;margin-top: 10px;margin-left: 50px;"" src="{% static 'img/instagram-logo.png' %}" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="img-box" style="margin-left: 840px;margin-top: -430px; border:8px solid rgb(4, 95, 95); width: 365px;border-radius: 200px;background-color: rgb(224, 244, 244);">
            <img class="img-fluid mb-4 mb-lg-0" style="width: 350px;height: 350px;border-radius: 1000px;" src="{% static 'img/colijon.jpg' %}" alt="">
        </div> 
        <div class="social_box" style="border: 8px solid rgb(44, 120, 120);width: 350px;height: 70px;border-radius: 50px;margin-top:-5px;margin-left:845px;">
          <a href="">
            <img style="width:20px;margin-top: 10px;margin-left: 60px; " src="{% static 'img/facebook-logo.png' %}" alt="">
          </a>
          <a href="">
            <img  style="width:35px;margin-top: 10px;margin-left: 50px;"  src="{% static 'img/twitter.png' %}" alt="">
          </a>
          <a href="">
            <img  style="width:33px;margin-top: 10px;margin-left: 50px;"" src="{% static 'img/instagram-logo.png' %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="img-box" style="margin-left: 1480px;margin-top: -430px; border:8px solid rgb(4, 95, 95); width: 365px;border-radius: 200px;background-color: rgb(224, 244, 244);">
    <img class="img-fluid mb-4 mb-lg-0" style="width: 350px;height: 350px;border-radius: 1000px;" src="{% static 'img/ozod.jpg' %}" alt="">
</div> 
<div class="social_box" style="border: 8px solid rgb(44, 120, 120);width: 350px;height: 70px;border-radius: 50px;margin-top:-5px;margin-left:1483px;">
  <a href="">
    <img style="width:20px;margin-top: 10px;margin-left: 60px; " src="{% static 'img/facebook-logo.png' %}" alt="">
  </a>
  <a href="">
    <img  style="width:35px;margin-top: 10px;margin-left: 50px;"  src="{% static 'img/twitter.png' %}" alt="">
  </a>
  <a href="">
    <img  style="width:33px;margin-top: 10px;margin-left: 50px;"" src="{% static 'img/instagram-logo.png' %}" alt="">
  </a>
</div>
</div>
</div>
</div>
</div>
      </section>
      

      <div class="container mt-5">
        <h1 class="text-center mb-4">Mening blogim</h1>
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <ul class="messages mb-0">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="d-flex flex-wrap justify-content-center">
            {% for article in articles %}
            <div class="card m-3 article-card">
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title" style="display: flex;justify-content: center;align-items: center;">{{ article.title }}</h5>
                    <p class="article-meta">{{ article.create_data|date:"F j, Y" }} </p>
                    <p class="card-text">{{ article.description|truncatewords:8 }}</p>
                    <a href="{% url 'article-detail' article.id %}" class="btn btn-primary">Maqolaga o'tish</a>
                </div>
            </div>
            {% endfor %}
      
        </div>
      
      </div>

    



    <section class="contact_section ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 px-0">
              <div class="img-box">
              </div>
            </div>
            <div class="col-lg-5 col-md-6">
              <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
                <div class="heading_container">
                  <h1 style="margin-left: -130px;"><br><br>
                    Biz bilan bog'lanish
                  </h1>
                </div>
                <form action="{% url 'contact-page' %}" method="POST">
                  {% csrf_token %}
                  {{form.as_p}}
                  <!-- <div>
                    <h4 style="margin-left: -40px;margin-top:30px; " >Title</h4><input style="border: 5px solid rgb(5, 116, 116);border-radius: 12px;width: 250px;height: 40px;margin-left: -50px;" type="text" placeholder="Name" />
                  </div> -->
                  <!-- <div>
                   <h4 style="margin-left: -40px;margin-top:10px; ">Email</h4> <input  style="border: 5px solid rgb(5, 116, 116);border-radius: 12px;width: 250px;height: 40px;margin-left: -50px;" type="email" placeholder="Email" />
                  </div>
                  <div>
                  <h4 style="margin-left: -40px;margin-top:10px; "> Phone number</h4> <input  style="border: 5px solid rgb(5, 116, 116);border-radius: 12px;width: 250px;height: 40px;margin-left: -50px;" type="text" placeholder="Phone Number" />
                  </div>
                  <div>
                    <h4 style="margin-left: -40px;margin-top:10px; "> Distcription </h4> <input  style="border: 5px solid rgb(5, 116, 116);border-radius: 12px;width: 350px;height: 40px;margin-left: -50px;" type="text" class="message-box" placeholder="Message" />
                  </div> -->
                  <div class="d-flex ">
                    <button style="width: 130px;margin-top: 30px;height: 45px;border: 5px solid rgb(9, 121, 121);border-radius: 15px;background-color: rgb(7, 195, 195);margin-left: -40px;" type="submit">
                      <h4 >Send</h4>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    <!-- Contact End -->



    {% endblock content %}